node_modules/
.env
/backend/data/users/default_user/**
!/backend/data/users/default_user/.gitkeep
!/backend/data/users/default_user/notes/
/backend/data/users/default_user/notes/**
!/backend/data/users/default_user/notes/.gitkeep